@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Public Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #af101a;
  --color-primary-container: #d32f2f;
  --color-on-primary-container: #fff2f0;
  --color-secondary: #005faf;
  --color-secondary-container: #54a0fe;
  --color-on-secondary-container: #003567;
  --color-tertiary: #016619;
  --color-tertiary-container: #298030;
  --color-on-tertiary-container: #daffd1;
  --color-tertiary-fixed: #9df898;
  --color-on-tertiary-fixed: #002204;
  --color-background: #f9f9fc;
  --color-surface: #f9f9fc;
  --color-surface-container: #eeeef0;
  --color-surface-container-low: #f3f3f6;
  --color-surface-container-lowest: #ffffff;
  --color-surface-variant: #e2e2e5;
  --color-on-surface: #1a1c1e;
  --color-on-surface-variant: #5b403d;
  --color-outline: #8f6f6c;
  --color-outline-variant: #e4beba;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
}

body {
  font-family: 'Public Sans', sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-surface);
  min-height: 100vh;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
